
/* :root{
    --colorFondo: #9198e5;
    --colorBorde: rgb(8, 8, 15);
} */

.contenedor{
    border: 5px solid purple;
    background-color: pink;
    padding: 2px 20px;
    font-family: sans-serif;
}

h1{
    color: var(--colorBorde);
}

.btn-ingresar{
    background-color: #165318;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    width: 100px;
    height: 30px;
}

.caja{
    margin: 10px 0;
    width: 100%;
}